@model zv01.Models.Evento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AforoActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AforoActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AforoTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AforoTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visitas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visitas)
        </dd>
    </dl>
</div>
<div>
    @*<button asp-controller="Reservas" asp-action="registerEvent" asp-route-id="@Model.Id">Evento</button>*@
    @{
        if (User.Identity.IsAuthenticated)
        {
            <a type="button" class="btn btn-primary" class="btn" asp-controller="Reservas" asp-action="registerEvent" asp-route-id="@Model.Id">Registrar Evento</a>
        }
      
    }
    @{
        if (User.IsInRole("Administrador"))
        {
            <a type="button" class="btn btn-primary" class="btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    }
    <a type="button" class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
