@model IEnumerable<zv01.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Eventos</h2>





@*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AforoActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AforoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitas)
            </th>
            <th></th>
        </tr>
    </thead>*@

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            DateTimeOffset fecha = item.EventDate;
            <div class="col-lg-4 col-sm-12">
                <figure class="snip1543">
                    <img src="@item.Imgs.ImgUrl" alt="sample108" />
                    <figcaption>
                        <h3>  @Html.DisplayFor(modelItem => item.EventName) </h3>
                        <p>  @fecha.ToString("MM/dd/yyyy HH:mm") <br /> @Html.DisplayFor(modelItem => item.Description)</p>
                    </figcaption>
                    <a href="/eventos/Details/@item.Id"></a>
                    @*<a asp-area="" asp-controller="Home" asp-action="Contact">*@
                </figure>
            </div>



            @*<tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AforoActual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AforoTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visitas)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>*@
        }

    </div>
</div>

<script src="~/js/events.js" asp-append-version="true"></script>
