@model IEnumerable<zv01.Models.Reserva>

@{
    ViewData["Title"] = "ReservasUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservas de Usuario</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoReserva.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QRs.QRUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoReserva.Estado)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.QRs.QRUrl)" />
            </td>
            <td>
                @{
                    if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                }
                <form asp-action="Borrar">
                    <input type="hidden" asp-for="@item.AppUser.Id" name="userid" value="@item.AppUser.Id" />
                    <input type="hidden" asp-for="@item.Evento.Id" name="eventoid" value="@item.Evento.Id" />
                    <input type="hidden" asp-for="@item.Id" name="id" value="@item.Id" />

                    <input type="submit" value="Borrar" class="btn btn-default" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
